@page "/"

<PageTitle>Home</PageTitle>

<link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet" />
<div style="background-image: linear-gradient(to right, #81019f,#5a38af, #02cbab);">
    <div class='slider-background' style=" background-image: url(/images/background.jpg)">
        <div class='text-center mb-3 bg-home-image'>
            Hi, I am
            <span class='text-white m-1'>
                Hoshiyar Singh
            </span>
            <div>
                <span id="animate" class='word'></span>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" color="white"
                     font-size="3rem" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: white;">
                    <path d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
    <div class="section-about">
        <div class="row about-info">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="/images/icon.jpeg" height="400" alt="Hoshiyar Singh" />
                </div>
            </div>

            <div class="col-lg-7">
                <h3 class="mb-20 contact-title-heading">Full Stack Developer</h3>
                <p>
                    Hello!, <br /> I&rsquo;m <strong>Hoshiyar Singh</strong>. Web Developer with over <strong>8</strong> years of experience.
                    Experienced with all stages of the development cycle for dynamic web projects.
                    Having an in-depth knowledge including advanced <strong>
                        ASP.NET, .NETCore, .NET, C#, WebApi, MVC, HTML5,
                        CSS3, JavaScript, jQuery, React JS
                    </strong>.
                    I aim to make a difference through my creative solution.
                </p>

                <div class="row mb-20">
                    <div class="col-sm-6">
                        <ul class="about-list">
                            <li> <span class="title">Name</span> <span class="value">Hoshiyar Singh</span> </li>
                            <li> <span class="title">Age</span> <span class="value">30 Years</span> </li>
                            <li> <span class="title">Email</span> <span class="value">info@xploring.me</span> </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="about-list">
                            <li> <span class="title">Phone</span> <span class="value">+91 90242 36927</span> </li>
                            <li> <span class="title">Address</span> <span class="value">Nawalgarh, Rajasthan</span> </li>
                            <li> <span class="title">Freelance</span> <span class="value">Available</span> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white lightbox-wrapper lightbox-content" style="color:black">
        <div class="row">
            <div class="col-12">
                <div class="section-heading page-heading">
                    <h2 class="section-title">Technical Skills</h2>
                    <div class="animated-bar"></div>
                </div>
            </div>
            <div class="col-md-6 col-12" style="display: flex;flex-wrap: wrap;justify-content: center;">
                <div class="row">
                    <div class="col-6 col-md-6" style="display: flex; flex-wrap: wrap; justify-content: center;">
                        <div class="hexagon">
                            <i class="mdi mdi-speedometer"></i>
                        </div>
                        <div style="text-align:center;">
                            <div class="bold">Fast</div>
                            <div style="max-width:200px">
                                Less loading times and lag free interaction, optimization highest priority.
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" style="display: flex; flex-wrap: wrap; justify-content: center;">
                        <div class="hexagon">
                            <i class="mdi mdi-cellphone-link"></i>
                        </div>
                        <div style="text-align:center;">
                            <div class="bold">Responsive</div>
                            <div style="max-width:200px">
                                Pages/layout will work on all devices, big or small like Mobile, Desktop,Tablet.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6" style="display: flex; flex-wrap: wrap; justify-content: center;">
                        <div class="hexagon">
                            <i class="mdi mdi-lightbulb-outline"></i>
                        </div>
                        <div style="text-align:center;">
                            <div class="bold">Intuitive</div>
                            <div style="max-width:200px">
                                Strong preference for easy to use, intuitive UI.
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6" style="display: flex; flex-wrap: wrap; justify-content: center;">
                        <div class="hexagon">
                            <i class="mdi mdi-rocket"></i>
                        </div>
                        <div style="text-align:center;">
                            <div class="bold">Dynamic</div>
                            <div style="max-width:200px">
                                No more fixed content, Change on the go, feels like live.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12" style="flex-wrap:wrap;">
                <div class="bar d-flex">
                    <div class="bar fill" style="width:90%">
                        <div class="tag bold flex">.NETCore</div>
                    </div>
                    <span class="skillBar">90%</span>
                </div>

                <div class="bar d-flex">
                    <div class="bar fill" style="width:90%">
                        <div class="tag bold flex">C#</div>
                    </div>
                    <span class="skillBar">90%</span>
                </div>

                <div class="bar d-flex">
                    <div class="bar fill" style="width:80%">
                        <div class="tag bold flex">HTML</div>
                    </div>
                    <span class="skillBar">80%</span>
                </div>
                <div class="bar d-flex">
                    <div class="bar fill" style="width:60%">
                        <div class="tag bold flex">CSS</div>
                    </div>
                    <span class="skillBar">60%</span>
                </div>
                <div class="bar d-flex">
                    <div class="bar fill" style="width:65%">
                        <div class="tag bold flex">RectJS</div>
                    </div>
                    <span class="skillBar">65%</span>
                </div>
                <div class="bar d-flex">
                    <div class="bar fill" style="width:85%">
                        <div class="tag bold flex">MVC</div>
                    </div>
                    <span class="skillBar">85%</span>
                </div>
                <div class="bar d-flex">
                    <div class="bar fill" style="width:75%">
                        <div class="tag bold flex">E F Core</div>
                    </div>
                    <span class="skillBar">75%</span>
                </div>
                <div class="bar d-flex">
                    <div class="bar fill" style="width:75%">
                        <div class="tag bold flex">MS SQL</div>
                    </div>
                    <span class="skillBar">75%</span>
                </div>
                <div class="bar d-flex">
                    <div class="bar fill" style="width:65%">
                        <div class="tag bold flex">My SQL</div>
                    </div>
                    <span class="skillBar">65%</span>
                </div>
                <div class="bar d-flex">
                    <div class="bar fill" style="width:80%">
                        <div class="tag bold flex">Javascript</div>
                    </div>
                    <span class="skillBar">80%</span>
                </div>
            </div>
        </div>
    </div>
   
    <div class="lightbox-wrapper lightbox-content">
        <div class="row">
            <div class="col-12">
                <div class="section-heading page-heading">
                    <h2 style="color:black" class="section-title">Get in Touch</h2>
                    <div class="animated-bar"></div>
                </div>
            </div>
        </div>
        <div class="contact-section single-section">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <form class="contact-form">
                        <h4 class="content-title">Message Me</h4>
                        <div id="status" style="border-radius:10px; display:none" class="bg-white text-danger p-2">
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-12 col-md-6 form-group">
                                <input class="form-control" type="text" placeholder="Name" id="name" required />
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <input class="form-control" type="email" name="email" placeholder="Email" id="email" required />
                            </div>
                            <div class="col-12 form-group form-message">
                                <textarea class="form-control" name="message" placeholder="Message" rows={5} id="message"
                                          required></textarea>
                            </div>
                            <div class="col-12 form-submit">
                                <button class="btn button-main button-scheme" id="connnect" type="submit" onclick="sendEnq(); return false">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="contact-info">
                        <h4 class="content-title">Contact Info</h4>
                        <p class="info-description">
                            Always available for freelancer work if the right project comes along, Feel free to contact me!
                        </p>
                        <ul class="list-unstyled list-info">
                            <li>
                                <div class="media align-items-center">
                                    <span class="info-icon">
                                        @* <IoLogoIonic /> *@
                                    </span>
                                    <div class="media-body info-details">
                                        <label class="info-type">Name : </label>
                                        <span class="info-value ms-1">Hoshiyar Singh</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media align-items-center">
                                    <span class="info-icon">
                                        @* <FiMapPin /> *@
                                    </span>
                                    <div class="media-body info-details">
                                        <label class="info-type">Location : </label>
                                        <span class="info-value ms-1">Nawalgarh, Rajasthan.</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media align-items-center">
                                    <span class="info-icon">
                                        @* <MdCall /> *@
                                    </span>
                                    <div class="media-body info-details">
                                        <label class="info-type">Call Me : </label>
                                        <span class="info-value ms-1">
                                            <a href="tel:+919024236927">+91 90242 36927</a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media align-items-center">
                                    <span class="info-icon">
                                        @* <MdMailOutline /> *@
                                    </span>
                                    <div class="media-body info-details">
                                        <label class="info-type">Email Me : </label>
                                        <span class="info-value ms-1">
                                            <a href="mailto:info@xploring.me">info@xploring.me</a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var words = ['Full Stack Developer', 'Professional Coder', 'Programmer', 'UI Designer', 'Developer', 'Freelancer'],
        part,
        i = 0,
        offset = 0,
        len = words.length,
        forwards = true,
        skip_count = 0,
        skip_delay = 15
    var intervalId = setInterval(function () {
        if (forwards) {
            if (offset >= words[i].length) {
                ++skip_count;
                if (skip_count === skip_delay) {
                    forwards = false;
                    skip_count = 0;
                }
            }
        }
        else {
            if (offset === 0) {
                forwards = true;
                i++;
                offset = 0;
                if (i >= len) {
                    i = 0;
                }
            }
        }
        part = words[i].substring(0, offset);
        if (skip_count === 0) {
            if (forwards) {
                offset++;
            }
            else {
                offset--;
            }
        }
        document.getElementById("animate").innerHTML = "a " + part
    }, 100 * 1);

    async function downloadCV() {
        var button = document.getElementById("contact-submit");
        button.innerHTML = "Downloading..."
        button.setAttribute("disabled", "disabled")
        var result = await fetch("api/1.0/download/cv");
        var blob = await result.blob()
        const link = document.createElement("a");
        link.target = "_blank";
        link.download = "Hoshiyar_Singh_CV.pdf"
        link.href = URL.createObjectURL(blob);
        link.click();
        button.innerHTML = "Downloaded"
        setTimeout(() => {
            button.removeAttribute("disabled")
            button.innerHTML = "Download Resume"
        }, 1000 * 5)
    }

    async function sendEnq() {
        var txt = "You are very important to us, all information received will always remain confidential. We will contact you as soon as we review your message."
        var status = document.getElementById("status")

        var button = document.getElementById("connnect");

        var email = document.getElementById("email")
        var name = document.getElementById("name")
        var message = document.getElementById("message")
        status.innerHTML = ""
        status.style.display = "none"
        email.style.border = name.style.border = message.style.border = "none";
        var error = false;
        if (email.value.length === 0) {
            email.style.border = "3px solid red";
            error = true;
        }
        if (name.value.length === 0) {
            name.style.border = "3px solid red";
            error = true;
        }
        if (message.value.length === 0) {
            message.style.border = "3px solid red";
            error = true;
        }
        if (error) return;
        button.innerHTML = "Sending..."
        button.setAttribute("disabled", "disabled")
        var dto = {
            email: email.value,
            message: message.value,
            name: name.value,
        }
        var config = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': 'Allow',
            },
            body: JSON.stringify(dto)
        }
        var result = await fetch("/api/1.0/enquiries", config);

        if (result.ok) {
            var response = await result.json();
            status.style.display = "block"
            if (!response.hasErrors) {
                button.innerHTML = "Sent"
                status.innerHTML = txt;
                status.classList.remove('text-danger');
                status.classList.add('text-success')
                email.value = name.value = message.value = ""
            }
            else {
                status.innerHTML = "An error occured while sending message, please try again in some time."
                status.classList.add('text-danger');
                status.classList.remove('text-success')
            }
        }
        else {
            status.style.display = "block"
            status.innerHTML = "An error occured while sending message, please try again in some time.";
            status.classList.add('text-danger');
            status.classList.remove('text-success')
        }
        setTimeout(() => {
            button.removeAttribute("disabled")
            button.innerHTML = "Send Message"
            status.innerHTML = null
            status.style.display = "none"
        }, 1000 * 10)
    }

</script>